<main class="catalog-page">

    <div class="title">
        <h2>{{type}}: {{name}}</h2>
    </div>

    <div class="my-listings">
        <div class="user-listings">
            {{#each listings}}
                {{> media_icon}}
            {{/each}}
        </div>
        <div class="add-new-listing">
            <a href="/add-listing/{{type}}/{{name}}">add new {{type}}</a>
        </div>
    </div>
    
</main>